{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true
  },
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y"],
  "rules": {
      "quotes": ["error", "single"],
      "jsx-quotes": ["error", "prefer-single"],
      "comma-dangle": 0,
      "no-console": 2,
      "no-return-assign": 0,
      "no-param-reassign": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "jsx-a11y/label-has-associated-control": 0,
      "react/jsx-one-expression-per-line": 0,
      "consistent-return": 0,
      "no-underscore-dangle": 0
  }
}
