{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true
  },
  "extends": "airbnb",
  "rules": {
      "quotes": ["error", "single"],
      "comma-dangle": 0,
      "jsx-quotes": ["error", "prefer-single"],
      "no-console": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "jsx-a11y/label-has-for": "off",
      "no-return-assign:": "off",
      "no-param-reassign:": "off"
  }
}
